table,
th,
td {
    border: 10px solid rgb(227, 24, 24);
    border-collapse: collapse;
    text-align: center;
}

#mytable {
    color: rgb(98, 72, 203);
}

.mytable_class {
    background: rgb(186, 175, 177);
}

ul.info>li {
    list-style: none;
}

ul.info>li li:nth-child(1) {
    list-style: none;
}

ol li a[target="_blank"] {
    color: yellow;
}

ol li a[href*="google"] {
    color: pink;
    text-decoration: none;
}

ol li a[href$="com"] {
    background: black;
}

ol li a[href*=git][href$="au"] {
    background: blue;
}